<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('home') }}">
        <img src="{{ asset('zf-logo.png') }}" alt="Zend Expressive" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav mr-right">
            <li class="nav-item">
                <a class="btn btn-dark nav-link" href="{{ path('cart') }}">
                    <i class="material-icons">shopping_cart</i>
                    <span class="badge badge-secondary">{{ basket.ItemCount }}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>